<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #main{
            margin: auto;
            background-color: grey;
            max-width: 600px;
            padding: 10px;
            background-color: aliceblue;
            border: 5px solid black;
        }

        #story{
            background-color: lightgray;
        }
        #story-arc{
            background-color: lightblue;
        }
        h1,h2{
            text-align: center;
        }
        p,a{
            text-align: center;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYOA</title>
</head>
<body>
    <div id="main">
        <div id="story">
            <h1>Create your own adventure</h1>
            <h2>{{ .Title }}</h2>
            {{range .Story}}
                  <p>{{.}}</p>
            {{end}}
        </div>
        <div id="story-arc">
            {{range .Options}}
                <a href="{{ .Arc }}">{{ .Text }}</p>
            {{end}}
        </div>
    </div>
</body>
</html>